<div class="left-side-nav">
   <div class="person-info">
      <img src="../../assets/image.jpg" alt="" width="75%" height="auto" style="border-radius: 100px;margin-top: 5%;">
      <br>
      <br>
      Име : Валери<br>
      Презиме : Веселинов<br>
      Фамилия : Панев<br>
      ЕГН : 9903093984<br>
      тел.Номер : 0878960080<br>
      Роля : Админ
   </div>
   <ul class="nav flex-column nav-pills">
      <li class="nav-item">
         <a class="nav-link" routerLink="employees" routerLinkActive="active">СЛУЖИТЕЛИ</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" routerLink="projects" routerLinkActive="active">ПРОЕКТИ</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="register-employee-on-project" routerLinkActive="active">Регистрирай
            служител в проект</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#">Изход</a>
      </li>
   </ul>
</div>