.container{
   border: 1px solid rgb(122, 28, 199);
   height: auto;
   margin-left:15%;
   margin-top: 1%;
   width: 75%;
}
.container h5{
   margin-top: 5px;
   padding-bottom: 10px; 
   border-bottom: 1px dashed rgb(122, 28, 199);
}
.card{
   width: 100%;
   height: 100px;
   margin-bottom: 10px;
}
.card-body{
   height: 100px;
   margin: inherit;
}
.card-body h6{
   margin-top: -10px;
   margin-left: 0px;
}
.card-text{
   font-size: 10px;
}
.card-text-status{
   font-size: 10px;
   color: rgb(11, 199, 11);
   margin-left: 3%;
}
.card-text2{
   margin-left: -25%;
   margin-top: -90px;
   text-align: center;
   font-size: 14px;
}
.hours{
   margin-top: -78px;
   margin-left: 500px;
   border-left: 1px dashed rgb(186, 186, 186);
   width: 240px;
   height: 70px;
}
.hours-text{
   font-size: 10px;
   margin-left: 10px;
}
.hours-text2{
   font-size: 10px;
   margin-left: 140px;
   margin-top: -21%;
}
.max-hours{
   border-radius: 20px;
   width: 50px;
   height: 20px;
   font-size: 14px;
   text-align: center;
   background-color: rgb(107, 7, 62);
   margin-left: 28px;
   color: white;
}
.worked-hours{
   border-radius: 20px;
   width: 50px;
   height: 20px;
   font-size: 14px;
   text-align: center;
   background-color: rgb(107, 7, 62);
   margin-left: 160px;
   color: white;
}
.card-body button{
   margin-left: 750px;
   margin-top: -13%;
   margin-bottom: 30px;
   width: 100px;
   position: relative;
}
#details-btn{
   margin-top: -160px;
   background-color: white;
   border: 1px solid #7f16d0;
   color: black;
}
#delete-btn{
   margin-top: -60px;
   background-color: white;
   border: 1px solid red;
   color: black;
}
#details-btn:hover{
background-image:  linear-gradient(to right, #aa2cb1, #7f16d0);
color: white;
}
#delete-btn:hover{
   background-color: rgb(197, 7, 7);
   color: white;
}
.collapse{
   border: 1px solid red;
}