<div class="container">
   <h5>Информация за проекти свързани с Валери Веселинов Панев</h5>
   <p>Общо часове : 240</p>
   <div class="card">
      <div class="card-body">
         <h6 class="card-title">Име на проект</h6>
         <p class="card-text">06/01/2021-01/12/2021</p>
         <p class="card-text-status">Завършен</p>
         <p class="card-text2">Кратко описание <br><br> Lorem ipsum dolor, sit amet consectetur</p>
         <div class="hours">
            <p class="hours-text">Максимални часове</p>
            <div class="max-hours">140</div>
            <p class="hours-text2">Отработени часове</p>
            <div class="worked-hours">120</div>
         </div><button class="btn btn-secondary" style="margin-bottom: -10px;" id="delete-btn">Изтрий</button>
         <button class="btn btn-secondary" id="details-btn"
            routerLink="/employees/employee-project-edit-hours">Детайли</button>
      </div>
   </div>
   <div class="card">
      <div class="card-body">
         <h6 class="card-title">Име на проект</h6>
         <p class="card-text">06/01/2021-01/12/2021</p>
         <p class="card-text-status">Завършен</p>
         <p class="card-text2">Кратко описание <br><br> Lorem ipsum dolor, sit amet consectetur</p>
         <div class="hours">
            <p class="hours-text">Максимални часове</p>
            <div class="max-hours">140</div>
            <p class="hours-text2">Отработени часове</p>
            <div class="worked-hours">120</div>
         </div><button class="btn btn-secondary" style="margin-bottom: -10px;" id="delete-btn">Изтрий</button>
         <button class="btn btn-secondary" id="details-btn" routerLink="/details-form">Детайли</button>
      </div>
   </div>
</div>