<div class="container">
   <h5>Данни за служител - <служител>
   </h5>
   <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)" class="col s12">
      <input type="hidden" name="registerEmployee" [value]="service.formData.employeeId" />
      <div class="form-group">
         <label style="padding-left:10px">Име</label>
         <input class="form-control form-control-lg" placeholder="Име" name="clothName" #clothName="ngModel"
            [(ngModel)]="service.formData.employeeName" required style="width: 850px;">
      </div>
      <div class="form-group">
         <label style="padding-left:10px">Презиме</label>
         <input class="form-control form-control-lg" placeholder="Презиме" name="clothBrand" #clothBrand="ngModel"
            [(ngModel)]="service.formData.employeeSurname" style="width: 850px;">
      </div>
      <div class="form-group">
         <label style="padding-left:10px">Фамилия</label>
         <input class="form-control form-control-lg" placeholder="Фамилия" name="clothBrand" #clothBrand="ngModel"
            [(ngModel)]="service.formData.employeeLastname">
      </div>
      <div class="form-row">
         <div class="form-group col-md-3">
            <label>ЕГН</label>
            <input class="form-control form-control-lg" placeholder="ЕГН" name="clothType" #clothType="ngModel"
               [(ngModel)]="service.formData.employeeEgn">
         </div>
         <div class="form-group col-md-3">
            <label>Позиция</label>
            <input class="form-control form-control-lg" placeholder="Позиция" name="clothPrice" #clothPrice="ngModel"
               [(ngModel)]="service.formData.employeePosition">
         </div>
         <!-- <div class="form-group col-md-2"> IMAGE UPLOAD LATER</div> -->
         <div class="form-group col-md-3">
            <label>Дата на постъпване</label>
            <input type="text" class="form-control form-control-lg" placeholder="Дата на постъпване" bsDatepicker
               placement="top"
               [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue', showTodayButton: true }"
               id="datePicker" [(ngModel)]="service.formData.employeeHiredate" name="datePicker">
         </div>
      </div>
      <div class="form-group">
         <button class="btn btn-secondary btn-lg btn-block my-4" type="submit"
            style="width: 60%; margin-top: -5px; margin-left: 5px;">Промени</button>
         <button class="btn btn-secondary btn-lg" type="submit"
            style="width: 40%; margin-top: -125px; margin-left: 530px;"
            routerLink="/employees/employee-projects-details">Информация
            за проекти</button>
      </div>
   </form>
</div>