.container{
   border: 1px solid rgb(122, 28, 199);
   height: auto;
   margin-left:10%;
   margin-top: 1%;
   width: 80%;
}
.container h5{
   margin-top: 5px;
   padding-bottom: 10px; 
   border-bottom: 1px dashed rgb(122, 28, 199);
}
.card{
   width: 100%;
   height: 100px;
   margin-bottom: 10px;
}
.card-body{
   height: 100px;
   margin: inherit;
}
.card-body h6{
   margin-top: -10px;
   margin-left: 0px;
}
.card-text{
   font-size: 10px;
}
.card-text-status{
   font-size: 10px;
   color: rgb(11, 199, 11);
   margin-left: 3%;
}
.card-text-status2{
   font-size: 10px;
   color: rgb(199, 11, 11);
   margin-left: 3%;
}
.card-text2{
   margin-left: -25%;
   margin-top: -90px;
   text-align: center;
   font-size: 14px;
}
.info{
   margin-top: -78px;
   margin-left: 500px;
   border-left: 1px dashed rgb(186, 186, 186);
   width: 240px;
   height: 70px;
}
.hours-text{
   font-size: 10px;
   margin-left: 30px;
}
.emp-text{
   font-size: 10px;
   margin-left: 150px;
   margin-top: -21%;
}
.max-hours{
   border-radius: 20px;
   width: 50px;
   height: 20px;
   font-size: 14px;
   text-align: center;
   background-color: rgb(107, 7, 62);
   margin-left: 52px;
   color: white;
}
.emp-count{
   border-radius: 20px;
   width: 50px;
   height: 20px;
   font-size: 14px;
   text-align: center;
   background-color: rgb(107, 7, 62);
   margin-left: 152px;
   color: white;
}
.card-body button{
   margin-left: 750px;
   margin-top: -13%;
   margin-bottom: 30px;
   width: 100px;
   position: relative;
}
#edit-btn{
   margin-top: -110px;
   background-color: white;
   color: black;
   border: 1px solid #7f16d0;
}
#details-btn{
   margin-top: -110px;
   background-color: white;
   color: black;
   border: 1px solid #7f16d0;
}
#edit-btn:hover{
background-image:  linear-gradient(to right, #aa2cb1, #7f16d0);
color: white;
}
#details-btn:hover{
   background-image:  linear-gradient(to right, #aa2cb1, #7f16d0);
color: white;

}
#register-proj-btn{
   margin-top: -100px;
   background-color: white;
   color: black;
   border: 1px solid #7f16d0;
}
#register-proj-btn:hover{
   background-image:  linear-gradient(to right, #aa2cb1, #7f16d0);
color: white;
}
#del-btn{
   width: 40px;
   margin-left: 10px;
   background-color: white;
   border: 1px solid red;
   color: black;
}
#del-btn:hover{
   background-color: red;
   color: white;
}
#finish-btn{
   width: 40px;
   margin-left: 860px;
   background-color: white;
   border: 1px solid green;
   color: black;
}
#finish-btn:hover{
   background-color: green;
   color: white;
}